---
import EventsSection from "../sections/EventsSection.astro";
---

<div class="flex flex-col gap-20 justify-center items-center bg-[#FFF6E8] px-20 py-52">
    <EventsSection imageClassName="event1" />
    <EventsSection sectionClassName="max-w-[74rem] h-[35rem] bg-[#16372A] flex flex-row-reverse px-10 py-20 gap-5 justify-center items-center" imageClassName="event2" />
    <EventsSection imageClassName="event3" />
    <EventsSection sectionClassName="max-w-[74rem] h-[35rem] bg-[#16372A] flex flex-row-reverse px-10 py-20 gap-5 justify-center items-center" imageClassName="event4" />

</div>