---
import FooterSection from "../sections/FooterSection.astro";
---
<div class="w-full h-full text-black py-12 bg-green-600 " style="background-image: url(''); background-size: cover;">
    <FooterSection />
</div>