---
import GallerySection from "../sections/GallerySection.astro";
---

<div class="w-full flex flex-col gap-2">
    <GallerySection header = "Dummy Day" description = "The Our Dream Pashupati Clean program aims to reinvigorate our national heritages." slogan = "Clean, Develop and Take Care"/>
    <GallerySection header = "Dummy Day" description = "The Our Dream Pashupati Clean program aims to reinvigorate our national heritages." slogan = "Clean, Develop and Take Care"/>
    <GallerySection header = "Dummy Day" description = "The Our Dream Pashupati Clean program aims to reinvigorate our national heritages." slogan = "Clean, Develop and Take Care"/>
    <GallerySection header = "Dummy Day" description = "The Our Dream Pashupati Clean program aims to reinvigorate our national heritages." slogan = "Clean, Develop and Take Care"/>
</div>