---
import Layout from '../layouts/Layout.astro';
import HeroPage from '../_page/HeroPage.astro';
import MissionPage from '../_page/MissionPage.astro';
import StoryPage from '../_page/StoryPage.astro';
import VisionPage from '../_page/VisionPage.astro';
---

<Layout title="ODPC">
	<main>
		<HeroPage />
		<MissionPage />
		<StoryPage />
		<VisionPage /> 
	</main>
</Layout>
