---
import Layout from '../layouts/Layout.astro';
import HeroPage from '../_page/HeroPage.astro';
import MissionPage from '../_page/MissionPage.astro';
---

<Layout title="ODPC">
	<main>
		<HeroPage />
		<MissionPage />
	</main>
</Layout>
