---

---

<div class="space-y-4">
  <h2 class="text-2xl text-white lg:text-4xl font-bold w-[463px]">
    Join us in our fight for a better future for our societies and its people
  </h2>
  <div class="flex flex-col justify-center space-y-4">
    <button
      class="bg-[#5F746D] text-[#241818] text-2xl w-[552px] h-full py-2 px-4 rounded-md text-start"
    >
      Subscribe to our Newsletter
    </button>
    <button
      class="bg-[#16372A] text-white w-[296px] text-2xl py-2 px-4 text-center"
    >
      Apply as a Volunteer -&gt;
    </button>
  </div>
</div>
