---

---

<div class="w-full h-full bg-[#1C2D27] pl-3 py-3 shadow-2xl lg:block hidden">
  <div class="hero_background_image h-full w-full"></div>
</div>

<style>
  .hero_background_image {
    background: url("../../../public/images/HeroBacground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
