---
import CornerLines from "../../public/images/cornerLines.astro"
import CornerLinesII from "../../public/images/cornerLinesII.astro"
---

    <div class="font-raleway font-extrabold w-full flex flex-col justify-center items-start pl-32 relative h-[40rem] text-8xl overflow-hidden bg-[#FFF6E8]">
    <div>
        <p class="text-[#085A34]">OUR</p>
        <p class = "text-[#1C2D27]">DREAM</p>
        <p class = "text-[#085A34]">PASHUPATI</p>
        <p class = "text-[#1C2D27]">CLEAN</p>
        <p class = "text-[#085A34] text-2xl">Join us on our journey!</p>
    </div>
    <div class ="absolute left-0 top-[-35px]">
        <CornerLines />
    </div>
</div>