---
import Journey from "../../public/images/Journey.astro"
---

<div>
  <div class="flex justify-center">
    <h2 class="text-3xl md:text-7xl font-bold text-[#FFF6E8]">OUR JOURNEY</h2>
  </div>
</div>
