---
interface Props{
    imageClassName : string
    sectionClassName ?: string
    header : string,
    description : string
}

import EventsCard from "../components/EventsCard.astro";
const {imageClassName, sectionClassName = "max-w-[74rem] h-[35rem] bg-[#085A34] flex flex-row px-10 py-20 gap-5 justify-center items-center rounded-lg", header, description} = Astro.props
---

<div class= {sectionClassName}>
        <div class="px-2 py-2 bg-[#FFF6E8]">
        <div class={`${imageClassName} w-[35rem] h-[21rem]`}></div>
    </div>
    <EventsCard header = {header} description= {description}/>
</div>

<style>
    .event1{
        background: url("../../../public/images/HeroBacground.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .event2{
        background: url("../../../public/images/HeroBacground.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .event3{
        background: url("../../../public/images/HeroBacground.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .event4{
        background: url("../../../public/images/HeroBacground.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    

</style>