---
import FooterCard from "../components/FooterCard.astro"
import FooterCardII from "../components/FooterCardII.astro"
---
<div class="w-full h-full mx-auto px-4 sm:px-6 lg:px-16 py-10 flex flex-col lg:flex-row justify-between flex-wrap">
    <FooterCard />
    <FooterCardII />
</div>
