---
import HeroCardI from "../components/HeroCardI.astro"
import HeroCardII from "../components/HeroCardII.astro"
---

<div class = "w-full flex flex-row">
    <HeroCardI />
    <HeroCardII />
</div>
