---
import JourneyCard from "../components/JourneyCard.astro";
import JourneyCardII from "../components/JourneyCardII.astro";
---
<div class="py-10 flex flex-col items-center text-center">
    <JourneyCard />
    <JourneyCardII />
</div>