---
import JourneyCard from "../components/JourneyCard.astro";
import JourneyCardII from "../components/JourneyCardII.astro";
import JourneyCorner from "../../public/images/JourneyCorner.astro"
---
<div class="py-10 flex flex-col items-center text-center gap-10 relative">
    <JourneyCard />
    <JourneyCardII />
    <div class="right-0 top-0 absolute">
        <JourneyCorner />
    </div>
</div>