---
import MissionCard from "../components/MissionCard.astro";
import MissionCorner from "../../public/images/MissionCorner.astro";
---

<div class="bg-[#085A34] h-[45rem] w-full flex flex-row justify-center items-center lg:justify-end px-32 relative">
    <MissionCard header="OUR MISSION" descriptionI="The Our Dream Pashupati Clean program aims to reinvigorate our national heritages." slogan="Clean, Develop and Take Care" descriptionII="The streets of Nepal have been defiled, polluted and disregarded to a point where even looking at it has become difficult. As we continued to develop, we failed to remember where we started, the streets we grew up in, the places we played, and most importantly, the lands of our prayers.<br>We can change this. That is our goal. To play even a small part to preserve our ancestral history and our cultural heritage." />

    <div class="absolute top-0 right-0 lg:block">
        <MissionCorner/>
    </div>
</div>