<!-- ---
import React, { useState } from 'react';
import Logo from "../../public/images/Logo.astro";
import Hamburger from "../../public/images/hamburger.astro";
import NavbarCard from "../components/NavbarCard.astro";
import react from '@astrojs/react';

const [isNavbarCardVisible, setNavbarCardVisible] = useState(false);

const toggleNavbarCard = () => {
    setNavbarCardVisible(!isNavbarCardVisible);
};
---

<div class="bg-[#1C2D27] w-full h-[6rem] fixed top-0 z-10 flex flex-row justify-between px-10">
    <div>
        <Logo width="75px" />
    </div>
    <div class="flex gap-32 text-white font-sans justify-center items-center text-xl">
        <div class="h-full w-[5rem] flex justify-center items-center">
            Events
        </div>
        <div class="h-full w-[5rem] flex justify-center items-center">
            Gallery
        </div>
        <div class="h-full w-[5rem] flex justify-center items-center" onClick={toggleNavbarCard}>
            <Hamburger />
        </div>
    </div>
</div>

{isNavbarCardVisible && (
    <div class="absolute top-[6rem] w-full">
        <NavbarCard />
    </div>
)} -->
